<div class="text-center p-5">
  <div class="card-body">
    <h2 class="card-title">Cari dan Sewa Kamar Hotel di <b><i class="fa fa-star-half" aria-hidden="true"></i>DHotel</b></h2>
    <p class="card-text">Harga Terjangkau dan Kualitas Kenyamanan Terjaga.</p>
    <a href="#" class="btn btn-success"><i class="fa fa-search fa-fw"></i>Cari Kamar Sekarang</a>
  </div>
</div>