<footer class="section footer-classic context-dark bg-image p-3" style="background: #2d3246;">
  {{#each list}}
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                <p>Sebuah Apikasi Sewa kamar hotel yang menyediakan beberapa fitur-fitur yang dapat memudahkan anda dapat menyewa kamar hotel.</p>
                <!-- Rights-->
                <p class="rights">2019</span><span> </span><span>{{this.nama}}</span><span>. </span><span>All Rights Reserved.</span></p>
              </div>
            </div>
            <div class="col-md-4 col-xl-3"></div>
            <div class="col-md-4">
              <h5>Informasi</h5>
              <dl class="contact-list">
                <dt>Alamat :</dt>
                <dd>{{this.alamat}}</dd>
              </dl>
              <dl class="contact-list">
                <dt>email :</dt>
                <dd>{{this.email}}</dd>
              </dl>
              <dl class="contact-list">
                <dt>Telepon :</dt>
                <dd>{{this.tlpon}}</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="row no-gutters social-container">
          <div class="col float-right"><a class="social-inner" title="Login Admin" href="/login"><span class="icon mdi mdi-youtube-play"></span><span>Admin</span></a></div>
        </div>
  {{/each}}
      </footer>