<nav class="navbar navbar-expand-lg navbar-light fixed-top p-2" id="navindex">
  <a class="navbar-brand text-white ml-5" href="#">
    <b><i class="fa fa-star-half" aria-hidden="true"></i>Dhotel</b>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto mr-2">
      <a class="nav-item nav-link text-white active" href="/"><i class="fa fa-home fa-fw"></i>Beranda <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link text-white active" href="#kamar"><i class="fa fa-bed fa-fw"></i>Kamar Hotel</a>
      <a class="nav-item nav-link text-white" href="#info"><i class="fa fa-info-circle fa-fw"></i>Tentang Hotel</a>
    </div>
  </div>
</nav>