<div class="sidebar">
  <a class="active" href="/admin"><i class="fa fa-star-half fa-fw"></i><b>Dhotel</b></a>
  <a href="/admin"><i class="fa fa-tachometer fa-fw"></i>Dashboard</a>
  <a href="#news"><i class="fa fa-user fa-fw"></i>Pengguna</a>
  <a href="/admin/infoHotel"><i class="fa fa-building-o fa-fw"></i>Informasi Hotel</a>
  <a href="/admin/ManKamarHotel"><i class="fa fa-bed fa-fw"></i>Man. Kamar</a>
  <a href="/admin/logout"><i class="fa fa-power-off fa-fw"></i>Keluar</a>
</div>