{{> navbar}}
{{> carousel}}
{{!-- Content --}}
{{> content}}
{{!-- end Content --}}
{{!-- Produk --}}
<div class="container-fluid" id="kamar">
	<div class="card">
		<div class="card-header">
			<h3 class="text-center">
				<i class="fa fa-bed fa-fw"></i>Kamar Hotel
			</h3>
		</div>
		<div class="card-body">
			<div class="row">
				{{# each item }}
				<div class="col-md-3">
					<a href="/kamars/{{this._id}}" class="card-link m-1">
						<div class="card" style="width: 18rem;">
							<img src="https://i0.wp.com/penginapan.net/wp-content/uploads/Kamar-Hotel-Executive.jpg?resize=460%2C300&ssl=1" class="card-img-top img-content" alt="...">
							<div class="card-body">
								<h5 class="card-title text-dark">Kamar {{this.nomor}}</h5>
								<p class="card-text text-dark"><strong>Rp. {{this.harga_permalam}} /malam</strong></p>
							</div>
						</div>
					</a>
				</div>
				{{/ each}}
			</div>
		</div>
	</div>
	<div class="card mt-5" id="info">
		<h4 align="center" class="mt-4">Seputar Tentang Hotel</h4>
		<div class="row m-4"> 
			<div class="col-4">
				<img src="https://content3.jdmagicbox.com/comp/patiala/m8/9999px175.x175.170227095135.t4m8/catalogue/hotel-hd-residency-urban-estate-phase-2-patiala-floating-ac-banquet-halls-7yuw7p1.jpeg" class="img-thumbnail">
			</div>
			<div class="col-4">
				<img src="https://content.jdmagicbox.com/comp/patiala/m8/9999px175.x175.170227095135.t4m8/catalogue/hotel-hd-residency-urban-estate-phase-2-patiala-floating-ac-banquet-halls-fpybfvi.jpeg" class="img-thumbnail">
			</div>
			<div class="col-4">
				<img src="https://content3.jdmagicbox.com/comp/patiala/m8/9999px175.x175.170227095135.t4m8/catalogue/hotel-hd-residency-urban-estate-phase-2-patiala-floating-ac-banquet-halls-o9v58zw.jpeg" class="img-thumbnail">
			</div>
		</div>
	</div>
</div>
<br>
{{!-- End Produk --}}
{{> footer}}
